.users-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  padding: 0;
  align-items: center;
  flex-direction: column;
}
.title-container {
  margin: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.create-container {
  width: 80%;
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
}
.full-width-table {
  width: 100%;
  overflow: auto;
}
